.jss_media > .jss_media_item > svg {
    position: absolute;
    z-index: 1;
    top: 0;
}

.jss_media > .jss_media_item > .shape-text {
    position: absolute;
    z-index: 2;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    white-space: pre;
}

.jss-shape {
    overflow: visible;
}

.shape-types {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 10px;
}

.shape-types > button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shape-types > button > svg {
    display: block;
}